body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.h2 {
    background-color: rgb(248, 64, 8);
    color: white;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.divX {
    width: 50%;
    padding-left: 2%;
}

.divX img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(75, 3, 75), rgb(222, 12, 241));
    padding: 10px 40px;
    border-radius: 6px;

}

.uporer-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-part {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.link-Button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(145, 33, 5), rgb(241, 77, 12));
    padding: 10px 40px;
    border-radius: 6px;
}

.exp-div {
    width: 45%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px;
    border-left: 5px solid rgb(241, 93, 7);

}

.last-part {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-div2 {
    border-left: 5px solid blue;
}

footer {
    text-align: center;
}